@font-face {
    font-family: "RobotoBold";
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "RobotoBoldItalic";
    src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "RobotoItalic";
    src: url('../fonts/roboto-italic-webfont.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "RobotoRegular";
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "Asasin";
    src: url('../fonts/assassin.woff2') format('woff2');
    font-weight: 400;
}