@mixin inset {
  position: absolute;
  inset: 0;
}

@mixin bg-img($url: '', $position: center, $size: cover) {
  background-repeat: no-repeat;
  background-size: $size;
  background-position:  $position;

  @if not($url == '') {
    background-image: url($url);
  }
}